* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: white;
  font-family: stratos_r, sans-serif;
  justify-content: center;
  margin: auto;
  max-width: 1440px;
}
img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;">

}

header {
  width: 1440px;
  height: 1024px;
  background-color: #white;
  position: relative;
  align-items: center;
  justify-content: center;

  font-family: "stratos_r"
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #FFFFFF;
}
.image {
  position: absolute;
  width: 1238px;
  height: 379px;
  top: 50px;
  left: 97px;
}
.titleone {
  position: absolute;
  color: #2844DA;
  font-size: 220px;
  font-weight: regular;
  top: 335px;
  left: 458px;
  text-transform: lowercase;
  font-family: "stratos_r";
}
.titletwo {
  position: absolute;
  color: #2844DA;
  font-size: 220px;
  font-weight: bold;
  top: 335px;
  left: 1080px;
  text-transform: lowercase;
  font-family: "stratos_r";
}
.leftznak {
  position: absolute;
width: 607px;
height: 387px;
left: 45px;
top: 555px;


background: #2844DA;
border-radius: 150px;
}
.main-text {
  position: absolute;
width: 560px;
height: 200px;
left: 45px;
top: 120px;



}

.design {
  position: absolute;
  width: 266px;
  height: 25px;
  left: 61px;
  top: 62px;

}
.year {
  position: absolute;
  width: 108px;
  height: 30px;
  left: 459px;
  top: 60px;

}
.napravlone {
  position: absolute;
width: 130px;
height: 30px;
left: 61px;
top: 205px;

}

.napravltwo {
position: absolute;
width: 121px;
height: 30px;
left: 61px;
top: 265px;


}

.osob {
position: absolute;
width: 335.53px;
height: 110px;
left: 61px;
top: 100px;

}

.nachert {
position: absolute;
width: 169px;
height: 30px;
left: 383px;
top: 265px;

}

.arrowm {
position: absolute;
width: 62px;
height: 162.5px;
left: 197px;
top: 206.5px;
}


.rightznak {
  position: absolute;
  background-color: #2844DA;
  width: 610px;
  height: 380px;
  border-radius: 150px;
  top: 555px;
  right: 42px;
}














.scnd-page {
  width: 1440px;
  height: 1024px;
  background-color: #white;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #2844DA;
  font-family: "stratos_r";
  font-style: normal;
  font-weight: 600;
}
.zagolb {
  position: relative;
  width: 1000px;
  left: 45px;
  top: 65px;


  font-size: 48px;
  line-height: 60px;
}

.bigc {
position: absolute;
left: 591px;
top: 0px;

font-size: 450px;
line-height: 567px;
}

.bigo {
position: absolute;
left: 229px;
top: 493px;

font-size: 450px;
line-height: 567px;

}

.bigp {
  position: absolute;
  left: 953px;
  top: 491px;

  font-size: 450px;
  line-height: 567px;
}

.smallc {
  position: absolute;
  left: 409.52px;
  top: 491.3px;

  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.smallo {
  position: absolute;
  left: 246.52px;
  top: 981.98px;

  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;

}

.smallp {
  position: absolute;
  left: 867.52px;
  top: 982.8px;

  font-size: 36px;
  line-height: 45px;

  text-transform: uppercase;
}












.thrd-page {
  width: 1440px;
  height: 1024px;
  background-color: #white;
  position: relative;
  align-items: center;
  dispaly: flex;
  justify-content: center;
  color: white;
  font-family: "stratos_r";
  font-style: normal;
  font-weight: 600;
  align-items: center;
}

.znak {
  position: absolute;
  width: 1042px;
  height: 675px;
  left: 199px;
  top: 165px;

  background: #2844DA;
  border-radius: 150px;
}

.zagolc {
  position: absolute;
  left: 338px;
  top: 70px;

  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;
}

.arrowf {
  position: absolute;
  left: 131px;
  top: 176px;
}
.arrowr {
  position: absolute;
  left: 131px;
  top: 446px;
}


.lineone {
  position: absolute;
  width: 621.46px;
  height: 142.95px;
  left: 300.54px;
  top: 195px;

  font-size: 96px;
  line-height: 121px;
}

.lineone_k {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.lineone_plus {
  position: absolute;
  left: 126.51px;
}

.lineone_revk {
  position: absolute;
  left: 240px;
  top: 0px;
}

.lineone_equal {
  position: absolute;
  left: 383.04px;
  top: 0px;
}

.lineone_zh {
  position: absolute;
  left: 500px;
  top: 0px;
}


.linetwo {
  position: absolute;
  width: 599.28px;
  height: 143.3px;
  left: 300.54px;
  top: 414.65px;

  font-size: 96px;
  line-height: 121px;
}
.lineone_l {
  position: absolute;
  left: 0px;
  top: 0px;
}
.lineone_ts {
  position: absolute;
  left: 240px;
  top: 0px;
}



















.frth-page {
  width: 1440px;
  height: 1024px;
  background-color: #2844DA;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: 2px;

  color: white;
  font-family: "stratos_r";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 90%;
}
.bridge {
  position: absolute;
  width: 1440px;
  height: 1024px;
}
 .car {
  position: absolute;
  width: 361px;
  height: 292px;
  left: 1057px;
  top: 19px;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count:infinite;
}



@keyframes slidein {
  from {
    left: 1450px;
    top: 250px;
  }

  to {
    left: 514px;
    top: -292px;
  }
}

.bus {
  position: absolute;
  width: 361px;
  height: 292px;
  left: -4.51%;
  top: -47.75%;

  animation-timing-function: linear;
  animation-duration: 5s;
  animation-name: slideintwo;
  animation-iteration-count:infinite;
}



@keyframes slideintwo {
  from {
    left: -4.51%;
    top: -47.75%;
  }

  to {
    left: 103.26%;
    top: 39.45%;
  }
}

.zagolw {
  position: absolute;
  left: 3.12%;
  top: 70.7%;

  font-size: 48px;
}
#id1 {
  position: absolute;
  left: 3.12%;
  top: 79.69%;

  font-family: 'stratos_r';
  font-style: italic;
  font-weight: 100;
}
#id2 {
  position: absolute;
  left: 8.33%;
  top: 79.69%;

  font-family: 'stratos_r';
  font-style: italic;
  font-weight: 200;
}
#id3 {
  position: absolute;
  left: 13.54%;
  top: 79.69%;

  font-family: 'stratos_r';
  font-style: italic;
  font-weight: 300;
}
#id4 {
  position: absolute;
  left: 18.75%;
  top: 79.69%;

  font-family: 'stratos_r';
  font-style: italic;
  font-weight: 400;
}

#id5 {
  position: absolute;
  left: 23.96%;
  top: 79.79%;

  font-family: 'stratos_r';
  font-style: italic;
  font-weight: 500;
}

#id6 {
  position: absolute;
  left: 3.12%;
  top: 87.99%;

  font-family: 'stratos_r';
  font-style: italic;
  font-weight: 600;
}

#id7 {
  position: absolute;
  left: 8.33%;
  top: 87.99%;

  font-family: 'stratos_r';
  font-style: italic;
  font-weight: 700;
}

#id8 {
  position: absolute;
  left: 13.54%;
  top: 87.99%;

  font-family: 'stratos_r';
  font-style: italic;
  font-weight: 800;
}

#id9 {
  position: absolute;
  left: 18.75%;
  top: 87.99%;

  font-family: 'stratos_r';
  font-style: italic;
  font-weight: 900;
}

#id10 {
  position: absolute;
  left: 23.96%;
  top: 88.09%;

  font-family: 'stratos_r';
  font-style: italic;
  font-weight: 950;
}


.kuvshin {
  position: absolute;
  width: 932.28px;
  height: 669.46px;
  left: 128.88px;
  top: 330.57px;
}

#k1 {
  position: absolute;
  left: 0%;
  top: 0%;
}
#k2{
  position: absolute;
  left: 21.13%;
  top: 6.57%;
}
#k3{
  position: absolute;
  left: 52.73%;
  top: 12.85%;
}
#k4{
  position: absolute;
  left: 26.02%;
  top: 25.1%;
}
#k5{
  position: absolute;
  left: 68.43%;
  top: 38.84%;
}
#k6{
  position: absolute;
  left: 45.8%;
  top: 42.72%;
}
#k7{
  position: absolute;
  left: 45.37%;
  top: 70.36%;
}
#k8 {
  position: absolute;
right: 0%;
top: 64.68%;
}
#k9{
  position: absolute;
  left: 83.56%;
  bottom: 0%;
}





.ffth-page {
  width: 1440px;
  height: 1024px;
  background-color: #2844DA;
  position: relative;
  align-items: center;
  justify-content: center;

  color: white;
}
.zagol {
  position: absolute;
  font-size: 48px;
  top: 65px;
  left: 45px;
  font-family: 'stratos_r';
  font-style: normal;
  font-weight: 600;
}

.laships {
  position: absolute;
  width: 453px;
  height: 275px;
  left: 135px;
  top: 229.53px;
  font-family: 'stratos_r';
  font-weight: 400;
}

.laships_one {
  position: absolute;
  width: 208px;
  height: 275px;
  left: 0px;
  top: 0px;
}

.laships_two {
  position: absolute;
  width: 216px;
  height: 275px;
  left: 237px;
  top: 0px;
}


.langone{
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}


#tid1 {
  position: absolute;
  left: 1.37px;
  top: 0px;
}

#tid2 {
  position: absolute;
  left: 3.43px;
  top: 50px;
}

#tid3 {
  position: absolute;
  left: 1.37px;
  top: 100px;
}

#tid4 {
  position: absolute;
  left: 3.43px;
  top: 150px;
}

#tid5 {
  position: absolute;
  left: 0px;
  top: 200px;
}

#tid6 {
  position: absolute;
  left: 1.37px;
  top: 250px;
}


.shipone{
  font-size: 20px;
  line-height: 25px;
  font-family: 'stratos_r';
  font-style: normal;
  font-weight: 400;
}
#sid1 {
  position: absolute;
  left: 88px;
  top: 0px;
}
#sid2 {
  position: absolute;
  left: 88px;
  top: 50px;
}
#sid3 {
  position: absolute;
  left: 88px;
  top: 100px;
}
#sid4 {
  position: absolute;
  left: 88px;
  top: 150px;
}
#sid5 {
  position: absolute;
  left: 88px;
  top: 200px;
}
#sid6 {
  position: absolute;
  left: 88px;
  top: 250px;
}

















.rightblock {
  position: absolute;
  width: 890.85px;
  height: 1269.98px;
  right: 0px;
  top: 0px;
}

.cybertruck{
  position: absolute;
  right: 45px;
  top: 0px;
}

.ship {
  position: absolute;
  right: 45px;
  top: 200px
}

.actualship {
  position: absolute;
  left: 104px;
  top: 565px;
}
























.sxth-page {
  width: 1440px;
  height: 1024px;
  background-color: white;
  position: relative;
  align-items: center;
  justify-content: center;

  color: #2844DA;
  font-size: 24px;
  line-height: 30px;
  font-family: 'stratos_r';
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.bus_one {
  position: absolute;
  width: 1096.01px;
  height: 154px;
  left: 76px;
  top: 33px;
}
#zagold{
  position: absolute;
  left: 395px;
  top: 88px;
  font-weight: 700;
  font-size: 48px;
  width: 500px;


}
#ar:hover{
font-size: 64px;
}
#ar {
  position: absolute;
  left: 3.38%;
  top: 14.93%;
  transition: font-size .5s ease;
}
#br {
  position: absolute;
  left: 10.77%;
  top: 14.93%;
}
#vr{
  position: absolute;
  left: 17.61%;
  top: 14.93%;
}
#gr {
  position: absolute;
  left: 24.36%;
  top: 14.93%;
}
#dr{
  position: absolute;
  left: 30.93%;
  top: 14.93%;
}
#er {
  position: absolute;
  left: 37.96%;
  top: 14.93%;
}
#yor{
  position: absolute;
  left: 44.71%;
  top: 14.93%;
}
#zhr {
  position: absolute;
  left: 50.73%;
  top: 14.29%;
}

#zr {
  position: absolute;
  left: 58.12%;
  top: 14.93%;
}

#yeer {
  position: absolute;
  left: 64.51%;
  top: 14.93%;
}
#yr{
  position: absolute;
  left: 71.62%;
  top: 14.93%;
}
#kr{
  position: absolute;
  left: 78.19%;
  top: 14.93%;
}
#lr{
  position: absolute;
  left: 85.04%;
  top: 14.93%;
}





















.bus_two {
  position: absolute;
  width: 1263.01px;
  height: 178px;
  left: 132px;
  top: 202px;
}


#mr{
  position: absolute;
  left: 3.64%;
  top: 16.85%;
}
#nr{
  position: absolute;
  left: 10.85%;
  top: 16.85%;
}
#or{
  position: absolute;
  left: 17.66%;
  top: 16.85%;
}
#pr{
  position: absolute;
  left: 24.54%;
  top: 16.85%;
}
#rr{
  position: absolute;
  left: 31.27%;
  top: 16.85%;
}
#sr{
  position: absolute;
  left: 38.16%;
  top: 16.85%;
}
#tr{
  position: absolute;
  left: 44.34%;
  top: 16.85%;
}
#ur{
  position: absolute;
  left: 51.54%;
  top: 16.85%;
}
#fr{
  position: absolute;
  left: 58.12%;
  top: 16.85%;
}
#hr{
  position: absolute;
  left: 64.92%;
  top: 16.85%;
}
#tsr{
  position: absolute;
  left: 71.02%;
  top: 16.85%;
}
#chr{
  position: absolute;
  left: 77.83%;
  top: 16.85%;
}
#shr{
  position: absolute;
  left: 85.51%;
  top: 16.85%;
}



.bus_three {
  position: absolute;
width: 535.97px;
height: 164px;
left: 60px;
top: 391px;
}

#shchr{
  position: absolute;
  left: 4.5%;
  top: 15.78%;
}
#hard{
  position: absolute;
  left: 125px;
  top: 15.78%;
}
#yyr{
  position: absolute;
  left: 199px;
  top: 15.93%;
}
#softr{
  position: absolute;
  left: 284px;
  top: 15.93%;
}
#eer{
  position: absolute;
  left: 362px;
  top: 15.93%;
}
#uur{
  position: absolute;
  left: 429px;
  top: 15.93%;
}
#yar{
  position: absolute;
  left: 521px;
  top: 15.78%;
}

















.bus_four {
  position: absolute;
  width: 535.97px;
  height: 164px;
  left: 878px;
  top: 464px;
}

#zagole{
  position: absolute;
left: 25px;
top: 75px;
font-size: 48px;
width: 500px;
font-style: normal;
font-weight: 700;
}
#ae{
  position: absolute;
  left: 22.57%;
  right: 64.74%;
  top: 14.63%;
  bottom: 63.41%;
  transition: font-size .5s ease;
}
#ae:hover{
  font-size: 64px;
}
#be{
  position: absolute;
  left: 220px;
  top: 14.63%;
}
#ce {
  position: absolute;
  left: 52.05%;
  top: 14.63%;
}
#de{
  position: absolute;
  left: 66.79%;
  top: 14.63%;
}
#ee{
  position: absolute;
  left: 81.53%;
  top: 14.63%;
}



.bus_five {
  position: absolute;
  width: 1197.94px;
  height: 170px;
  left: 128.02px;
  top: 655px;
}

#fe {
  position: absolute;
  left: 12.16%;
  top: 15.99%;
}
#ge {
  position: absolute;
  left: 18.95%;
  top: 15.88%;
}
#he {
  position: absolute;
  left: 25.96%;
  top: 15.99%;
}
#ie {
  position: absolute;
  left: 33.22%;
  top: 15.88%;
}
#je {
  position: absolute;
  left: 39.68%;
  top: 15.99%;
}
#ke {
  position: absolute;
  left: 46.49%;
  top: 15.88%;
}
#le {
  position: absolute;
  left: 53.17%;
  top: 15.88%;
}
#me {
  position: absolute;
  left: 59.22%;
  top: 15.99%;
}
#ne {
  position: absolute;
  left: 66.53%;
  top: 15.88%;
}
#oe {
  position: absolute;
  left: 73.04%;
  top: 15.88%;
}
#pe {
  position: absolute;
  left: 79.88%;
  top: 15.88%;
}
#qe {
  position: absolute;
  left: 86.65%;
  top: 15.88%;
}
#re {
  position: absolute;
  left: 94.24%;
  top: 15.88%;
}


.bus_six {
  position: absolute;
  width: 729.94px;
  height: 159.99px;
  left: 659.02px;
  top: 864px;
}

#se{
  position: absolute;
  left: 17.94%;
  top: 15.88%;
}
#te{
  position: absolute;
  left: 29.18%;
  top: 15.88%;
}
#ue{
  position: absolute;
  left: 38.77%;
  top: 15.88%;
}
#ve{
  position: absolute;
  left: 49.18%;
  top: 15.88%;
}
#we{
  position: absolute;
  left: 58.5%;
  top: 16.25%;
}
#xe{
  position: absolute;
  left: 69.45%;
  top: 15.88%;
}
#ye{
  position: absolute;
  left: 79.73%;
  top: 15.88%;
}
#ze{
  position: absolute;
  left: 89.87%;
  top: 15.88%;
}

.svnth-page {
  width: 1440px;
  height: 1024px;
  background-color: white;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #2844DA;

  font-family: 'stratos_r';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
}


.amath{
  position: absolute;
  left: 135px;
  top: 250px;
}
.atext {
  position: absolute;
  right: 135px;
  top: 450px;
}
.smallh{
  position: absolute;
  left: 28.52px;
  top: 297.72px;
  text-transform: uppercase;
}

.smalln{
  position: absolute;
  width: 109px;
  height: 45px;
  left: 66.52px;
  top: 300.58px;
  text-transform: uppercase;
}
.iukr{
  position: absolute;
  width: 138px;
  height: 567px;
  left: 541px;
  top: 515px;
  text-transform: uppercase;
}
.smallukr {
  position: absolute;
  width: 181.51px;
  height: 46.23px;
  left: -12px;
  bottom: 150px;
}
.iamer{
  position: absolute;
  width: 120px;
  height: 567px;
  left: 827px;
  top: 315px;
  text-transform: uppercase;
}
.smallamer {
  position: absolute;
  width: 181.51px;
  height: 46.23px;
  left: -16px;
  bottom: 150px;
}











.eghth-page {
  width: 1440px;
  height: 1024px;
  background-color: white;
  position: relative;
  align-items: center;
  justify-content: center;

  font-family: 'stratos_r';
  font-style: normal;
  font-weight: 600;
  color: white;
}
.lastznak{
  position: absolute;
  width: 1066px;
  height: 523px;
  left: 187px;
  bottom: 380px;

  background: #2844DA;
  border-radius: 150px;
  font-size: 96px;
  line-height: 121px;
}

.poka{
  position: absolute;
  width: 1050px;
  height: 121px;
  left: 140px;
  top: 118px;
}
.bye{
  position: absolute;
  width: 845px;
  height: 121px;
  left: 205px;
  top: 285px;
}


.footer {
  position: absolute;
  left: 23px;
  bottom: 0px;
}
.final{
  position: absolute;
  left: 55px;
  top: 64px;

  font-size: 24px;
  font-family: 'stratos_r';
  font-style: normal;
  font-weight: 400;
}
.finalend{
  position: absolute;
width: 102px;
height: 30px;
left: 55px;
top: 100px;

font-size: 24px;
font-family: 'stratos_r';
font-style: normal;
font-weight: 400;
}
